.choive-div input {
  border: none;
  border-bottom: 2px solid black;
  height: 35px;
  text-align: center;
  width: 200px;
}

.choive-div button {
  background-color: white;
  border: 2px solid black;
  border-color: #333333;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.choive-div button:hover {
  background: #333333;
  color: white;
}

.choive-div {
  align-items: center;
  background-color: #FFCD02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin: 20vh 35vw;
  padding: 30px;
  width: 350px;
}

.new-event {
  color: #333333;
  text-decoration: none;
}