.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products-container>div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products-container p {
  text-align: center;
}

.products-container>div {
  margin-bottom: 20px;
  border: 1px solid black;
}

.products-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.increment-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.increment-buttons button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


.increment-buttons p {
  margin: 0px 10px;
}

.products-page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: white;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
}

.products-page-nav > div{
  width: 50px;
}

.products-page-nav > p{
  width: 50px;
}

.products-page-nav > input{
  border-radius: 40px;
  height: 40px;
  width: 50%;
  font-size: 1.5rem;
}

.cart-img {
  position: relative;
}

.cart-img p {
  position: absolute;
  bottom: 15px;
  left: 20px;
}


.filter-sorter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.added-product {
  position: absolute;
}

.products-list img {
  min-height: 120px;
}