@font-face {
  font-family: "Roboto";
  src: url(../fonte/Roboto-LightItalic.ttf);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.conteinerCadastro2 {
  align-items: center;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  justify-content: center;
  width: 100%;
  margin-top: 100px
}

.conteinerCadastro2 input {
  border: #999999 solid 2px;
  border-radius: 5px;
  height: 25px;
  width: 40vh;
  text-align: center;
  font-size: 15px;
  color: #999999;
}

.conteinerNameSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  width: 100%;
}

.conteinerCPFSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-right: 10px;
}

.conteinerCPFSP input {
  width: 90%;
}

.conteinerBirthDaySP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 6px;
  margin-left: 10px;
}

.conteinerBirthDaySP input {
  height: 28px;
  width: 90%;
}

.conteinerDDDSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  width: 30%;
}

.conteinerDDDSP input {
  width: 90%;
}

.conteinerPhoneSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  width: 60%;
}

.conteinerPhoneSP input {
  width: 90%;
}

.conteinerCEPSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-right: 10px;
  width: 30%;
}

.conteinerCEPSP input {
  width: 90%;
}

.conteinerStreetSP {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 10px;
  width: 60%;
}

.conteinerStreetSP input {
  width: 90%;
}

.conteinerAdressNumberSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-right: 10px;
  width: 20%;
}

.conteinerAdressNumberSP input {
  width: 80%;
}

.conteinerNeighborSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 10px;
  width: 33%;
}

.conteinerNeighborSP input {
  width: 95%;
}

.conteinerComplementSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 10px;
  width: 33%;
}

.conteinerComplementSP input {
  width: 95%;
}

.conteinerCitySP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-right: 10px;
  width: 45%;
}

.conteinerCitySP input {
  width: 90%;
}

.conteinerStateSP {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 10px;
  width: 45%;
}

.conteinerStateSP input {
  width: 90%;
}

.BirthDayAndCPF {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 8px;
  width: 100%;
}

.conteinerCompletCellphoneSP {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 8px;
  width: 100%;
}

.StreetAndCEP {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 8px;
  width: 100%;
  justify-content: space-between;
}

.adressAndComplement {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 8px;
  width: 100%;
  justify-content: space-between;
}

.cityAndState {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 8px;
  width: 100%;
  justify-content: space-between;
}

.buttonSP {
  background-color: #F9C22F;
  border: none;
  border-radius: 30px;
  font-size: 23px;
  height: 50px;
  width: 100%;
}

.conteinerButtonSP {
  margin-top: 40px;
  width: 50%;
}

.headerSP {
  background-color: #333333;
  height: 60px;
  width: 100%;
  margin-bottom: 1px;
}

.footerSP {
  height: 90px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url('../images/tela2R.png');
  background-size: 110% 100%;
  background-position: bottom;
}

.register-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.conteinerCadastro2 input {
  border-radius: 30px;
}
